.cards-wrapper {
  grid-column: center-start / -1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.cards-wrapper .card {
  width: 900px;
  height: 300px;
  display: grid;
  place-content: center;
  background-color: white;
  color: #15928A;
  font-size: 1.5rem;
  min-width: 13rem;
}
.cards-wrapper .card:hover{
  background-color: brown;
}
.parallax {
  background-image: url("/assets/images/nubelson-fernandes--Xqckh_XVU4-unsplash.webp");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
