<div class ="parallax" style="height: 600px;">
  <div style="font-family: 'Apple Braille'; font-size: 60px; text-align: center"><strong>Recommendations</strong></div>
  <div class="p-3 me-5 d-flex flex-row flex-nowrap overflow-auto">

    <div class="card card-block mx-2">Card</div>
    <div class="card card-block mx-2">Card</div>
    <div class="card card-block mx-2">Card</div>
    <div class="card card-block mx-2">Card</div>

    <div class="card card-block mx-2">Card</div>

    <div class="card card-block mx-2">Card</div>

  </div>
</div>
