<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="z-index: 999">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../assets/images/logo.webp" height="50 px" alt="logo"></a>
    <div class="ms-auto">
      <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="#mynavbar" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon d-flex justify-content-start align-items-center"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<app-home></app-home>
<app-about id="about"></app-about>
<app-projects id="projects"></app-projects>
<app-resume id="resume"></app-resume>
<app-skills id="skills"></app-skills>
<app-contact id="contact"></app-contact>
<app-footer></app-footer>
