<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<div class="about-background container-fluid">
  <div class="row p-3">
    <div class=" col-xs-2 col-xl-2 col-md-2 col-lg-2 col-sm-2"></div>
    <div class=" about-font col-xs-4 col-xl-4 col-md-4 col-lg-4 col-sm-4">
      Hello, World! I am an
      Experienced Software Engineer and competitive programmer with a good hold in problem solving
      who has been rewarded with Extra Miller award by Evive Software Analytics.I have
      demonstrated history of working in the information technology and software development industry.
      I am fond of cloud development and deployment. I am skilled in Java , Data Structures, Microservices, Relational
      Databases, Spring Boot, Object-Oriented
      Programming (OOP), Amazon Web Services (AWS), Cloud Development, Reactive Programming,
      Postgresql, and Maven. While I am not coding I love playing cricket and table tennis , meet new people , read tech
      blogs specifically about cloud .
    </div>

    <div class=" col-xs-4 col-xl-4 col-md-4 col-lg-4 col-sm-4">
      <img src="assets/images/Screenshot%202021-12-06%20at%2011.13.17%20PM.png"
           class="img-fluid img-thumbnail rounded-circle about-img">
    </div>
    <div class=" col-xs-2 col-xl-2 col-md-2 col-lg-2 col-sm-2"></div>
  </div>
</div>
