<div class="parallax" style="height: 100%">
  <div style="font-family: 'Apple Braille'; font-size: 60px; color: white;text-align: center ; padding-top: 50px; padding-bottom: 23px">
    <strong>Some Exciting things I did ..</strong>
  </div>
  <div >
    <div class=" cards-wrapper" style="padding-bottom: 100px;">
      <ng-container *ngFor="let project of projects">
        <div class="card " style="width:500px">
          <img [attr.src]="project.image" class=" card-image card-img-top" alt="Card image">
          <div class="card-img-overlay">
            <div class="container row">
              <div class="col-8">
                <h4 class="card-title" style="font-family: 'Apple Braille'; font-size: 35px; color: black">{{project.title}}</h4></div>
              <div class="col-4">
            <button class="btn btn-lg   btn-outline-primary"  style="float: right" (click)="open(project)">More</button>
            </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
