.cards-wrapper {
  grid-column: center-start / -1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
  padding-right: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.cards-wrapper .card {
  width: 600px;
  height: 600px;
  display: grid;
  padding-top: 15px;
  padding-left: 15px;
  place-content: safe;
  color: #15928A;
  font-size: 1.5rem;
  min-width: 13rem;

}

.card-image {
  padding-right: 17px;
  padding-bottom: 17px;
  height: 100%;
  width: 100%;
  filter: blur(3px)
}
.card:hover{
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(0.9);
}

.parallax {
  background-image: url("/assets/images/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
