.card:hover {
  transform: scale(1.1);
}

.card {
  height: 300px;
  width: 300px;
}
.parallax{
  background-image: url("src/assets/images/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

