<div class="container">

  <div style="text-align:center; padding-top: 30px;">
    <h2>Let's Catch Up</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="../../assets/images/Contactus.webp" style=" height: 100%; width:100%">
    </div>
    <div class="column">
      <form>
        <label for="fname">Full Name</label>
        <input type="text" required id="fname" name="firstname" placeholder="Your name.." [(ngModel)]="contact.name" >
        <label for="lname">Email</label>
        <input type="text" id="lname" name="lastname" placeholder="Your Email.."  [(ngModel)]="contact.email" required>
        <label for="ContactNo">Contact No</label>
        <input type="text" id="ContactNo" name="ContactNo" placeholder="(+91)...."  [(ngModel)]="contact.contactNo" required>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"  [(ngModel)]="contact.subject" required></textarea>
        <input type="submit" value="Submit" (click)="submitDetails()">
      </form>
    </div>
  </div>
</div>
