.parallax{
  background-image: url("/assets/images/SkillsBackground3.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h4{
  color: white;
  font-family: italic;
}
