<div class="pt-5 parallax">
  <div class="container parallax">
    <h1 style="font-family: 'Shree Devanagari 714'; font-size: 60px; color: white; text-align: center">Skills</h1>
    <div class="row  ">
      <div class="col-6 col-lg-6 col-sm-6 col-xl-6 col-xxl-6 ">
        <div class="bg-white px-3 pb-2 parallax">

          <h2>Software Development</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h2>Problem Solving</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h2>Product Ownership</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h2>Public Speaking</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h2>Communication</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-6 col-sm-6 col-xl-6 col-xxl-6">
        <div class="col-12 bg-white px-3 pb-2 parallax">
          <h2>Team Management</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h2>Microservices</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 85%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h2>Cloud Development</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 85%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h2>System Design</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h2>Design Patterns</h2>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
