<div class="p-5 parallax">
  <div class="container parallax">
    <h1 style="font-family: 'Apple Braille'; font-size: 60px; color: white; text-align: center">Skills</h1>
    <div class="row p-3 ">
      <div class="col-6 col-lg-6 col-sm-6 col-xl-6 col-xxl-6 ">
        <div class="col-12 bg-white px-3 pb-2 parallax">

          <h4>Software Development</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h4>Team Management</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h4>Product Ownership</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h4>Public Speaking</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h4>Communication</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-6 col-sm-6 col-xl-6 col-xxl-6">
        <div class="col-12 bg-white px-3 pb-2 parallax">
          <h4>Problem Solving</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h4>Microservices</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 85%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h4>Cloud Development</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 85%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h4>System Design</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <h4>Design Patterns</h4>
          <div class="progress mb-3" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="72"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
