<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>
</head>
  <div class="hero-image">
    <div class="hero-text text-start  m-0" style="padding-top: 425px; padding-left: 80px">
      <h1 style=" font-family: 'Apple Braille';font-size:7vmin; color: white">Vinayak Pahuja</h1>
      <h3 style="font-family: 'serif' ;font-size:5vmin; color: white">Software Engineer</h3>
    </div>

    <div class="wrapper">
      <a target="_blank" href="mailto:vinayakpahuja01320@gmail.com"><i class="fa fa-3x fa-google-plus"></i></a>
      <a target="_blank" href="https://www.facebook.com/vinayak.pahuja/"><i class="fa fa-3x fa-facebook-square"></i></a>
      <a target="_blank" href="https://twitter.com/vinayak_pahuja"><i class="fa fa-3x fa-twitter-square"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/vinayak-pahuja-06b238166/"><i
        class="fa fa-3x fa-linkedin-square"></i></a>
      <a target="_blank" href="https://www.instagram.com/vinayak_pahuja/"><i class="fa fa-3x fa-instagram"></i></a>


  </div>
</div>

